h1{
    color: grey;
    font-size: 64px;
    margin-bottom: 16px;
}
img {
    width: 300px;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top:16px;
    padding:16px 0;
    position: absolute;
    bottom:20px;
}
body{
    /* text-align: center; */
    /* padding-left: 150px; */
    margin:0 auto;
    padding: 0 16px;
    max-width: 650px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    /* height:20px; */
    border: 1px solid #cccccc;
    padding:8px;
}

button{
    /* height: 30px; */
    cursor: pointer;
    border: 1px solid #eeeeee;
    background-color: #888888;
    color: white;
    padding: 8px;
}

header a{
    text-decoration: none;
    margin-right: 16px;
    color: #888888;
}

#msg1{
    font-size: 36px;
    font-family: monospace;
    font-weight: 500;
}
#msg2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}